.item {
  width: 272px;
  height: 208px;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 40px 16px 40px 40px;
  transition: box-shadow .7s;
}

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
  box-sizing: border-box;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container__title {

}

.menu {
  height: 600px;
  overflow-y: scroll;
}

.menu::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.menu::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.section {
  width: 600px;
  max-height: 800px;
}

.counter {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  margin: 0;
}

.counter_active {
  display: block;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  margin: 0;
  text-align: center;
}

.tabs {
  display: flex;
}

.title {
  composes: container__title;
}
