:root {
  /*--logo-width: 290px;
  --logo-height: 50px;
  --offset-base-size: 4px;*/
  --scroll-bar-width: 8px;
  --scrollbar-thumb: background: #8585ad;
  --webkit-scrollbar-track: background: #2f2f37;
  /*--bg: #131316;
  --modal-bg: #1C1C21;
  --secondary-text: #8585AD;*/
}

.main {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
