.section {
  width: 600px;
}

.empty {
  padding: 100px;
  text-align: center;
  border: 2px dashed #fff;
}

.container {
  max-height: 560px;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.ingredients__container {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 0;
  overflow-y: scroll;
}

.ingredients__container::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.ingredients__container::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
